.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: auto;
    text-align: center;
    padding: 10px;
    background-color: rgb(59, 30, 30);
    width: 50%;
    height: 2vh;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 10px;
    color: white;
}